<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}Base{% endblock %}</title>
  </head>
  <body>
<!-- Navbar -->
<nav>
  <div class="navbar">
    <div class="navbar-text">
      <p>Mario & Luigi's<br>Pizzeria</p>
    </div>
    <div class="navbar-nav">
      {% if user.is_authenticated %}
      <div class="top-right">
        <a href="/" class="white-text">Home</a>
        <a href="/cart" class="white-text">Cart</a>
        <a href="/logout" class="white-text">Logout</a>
      </div>
      {% if user.role == "admin" %}
      <a href="/receive-orders" class="white-text">Receive orders</a>
      {% endif %}
      {% else %}
      <div class="top-right">
        <a href="/login" class="white-text">Login</a>
        <a href="/sign-up" class="white-text">Sign up</a>
      </div>
      {% endif %}
    </div>
  </div>
</nav>

    <!-- Code that displays flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div>
      {{ message }}
    </div>
    {% else %}
    <div>
      {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- Block we use to render different content -->
    <div>{% block content %} {% endblock %}</div>
  </body>
</html>
