{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block content%}
  
    <h1> Cart</h1>
    {% if pizza %}
    {% for piz in pizza.split(', ') %}
        <form method="post" action="/remove_pizza">
            <div class="cart-item-container">
                {% if piz %}
                <p> {{piz}}</p>
                <input type="hidden" name="pizzaName" value="{{piz}}">
                <button type="submit">X</button>
                {% endif %}
            </div>
        </form>
        {% endfor %}
        
    <form method="post" action="/remove_all_pizzas">
        <input type="hidden" name="removeAll" value="{{pizza}}">
        <button> Clear Cart </button>
    </form>

    <form method="post" action="/receive-orders">
        <input type="hidden" name="currentOrder" value="{{pizza}}">
        <button> Place Order </button>
    </form>

    {% else %}
     <p> Your cart is empty. </p>
    {% endif %}

{% endblock %}