<!-- Extending the "base.html" template -->
{% extends "base.html" %}

<!-- Overriding the title block from the base template -->
{% block title %}Cart{% endblock %}

{% block content %}
<!-- Container for centered content -->
<div class="centered-content">
    <!-- Heading for the cart page -->
    <h1 class="center-text">Cart</h1>
    <!-- Check if there are pizzas in the cart -->
    {% if pizza %}
        <!-- Loop through the list of pizzas in the cart -->
        {% for piz in pizza.split(', ') %}
            <form method="post" action="/remove_pizza">
                <div class="cart-item-container" style="margin-bottom: 10px;">
                    <!-- Check if the current pizza exists -->
                    {% if piz %}
                        <!-- Display the pizza name and center the text -->
                        <p class="center-text">{{piz}}</p>
                        <!-- Create a hidden input with the pizza name for removal -->
                        <input type="hidden" name="pizzaName" value="{{piz}}">
                        <!-- Button to remove the pizza from the cart -->
                        <button type="submit" style="margin-left: 10px;">X</button>
                    {% endif %}
                </div>
            </form>
        {% endfor %}
        <!-- Form to remove all pizzas from the cart -->
        <form method="post" action="/remove_all_pizzas">
            <!-- Create a hidden input with the list of pizzas to remove -->
            <input type="hidden" name="removeAll" value="{{pizza}}">
            <!-- Button to clear the entire cart -->
            <button class="center-button">Clear cart</button>
        </form>

        <!-- Form to proceed with the order -->
        <form method="post" action="/receive-orders">
            <!-- Create a hidden input with the current order's pizzas -->
            <input type="hidden" name="currentOrder" value="{{pizza}}">
            <!-- Button to place the order -->
            <button class="center-button">Order now</button>
        </form>
    {% else %}
        <!-- Display a message when the cart is empty and center the text -->
        <p class="center-text one-line">Your cart is empty.</p>
    {% endif %}
</div>
</div>
{% endblock %}
