<!-- Extending the "base.html" template -->
{% extends "base.html" %}

<!-- Overriding the title block from the base template -->
{% block title %}Home{% endblock %}

{% block content %}
<!-- Adding a fade-in effect to the content -->
<div class="fade-in">
    <!-- Container for items (e.g., pizzas) -->
    <div class="items-container">
        <!-- Container for a list of pizzas -->
        <div class="pizza-list">
            <!-- Loop through a list of pizzas -->
            {% for pizza in pizzas %}
                <!-- Individual pizza container -->
                <div class="pizza-container">
                    <!-- Display the pizza name -->
                    <h1>{{ pizza.name }}</h1>
                    <!-- Display the pizza image -->
                    <img src="{{ pizza.image }}" height="100px" width="100px" />
                    <!-- Display the pizza ingredients -->
                    <p class="ingredients" style="margin: 10px;">{{ pizza.ingredients }}</p>
                  
                    <p>{{ pizza.cost }} </p>
                    <!-- Form to add the pizza to the cart -->
                    <form method="post" action="/cart">
                        <input type="hidden" name="pizzaName" value="{{ pizza.name }}">
                        <input type="hidden" name="pizzaCost" value="{{ pizza.cost }}">
                        <button type="submit">Add to cart</button>
                    </form>
                    <!-- Adding some space (blank line) below each pizza container -->
                    <div style="margin-bottom: 10px;"></div>
                </div>
                <!-- If the current iteration index is divisible by 3, clear the floating elements -->
                {% if loop.index is divisibleby 3 %}
                    <div style="clear: both;"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
