<!--here we extend the base template-->
{% extends "base.html" %}

<!--overide the title block from the base tempalte-->
{% block title %}Home{% endblock %}

{% block content%}

    <div class="items-container">
    {% for pizza in pizzas %}
        <div class="pizza-container">
            <h1> {{pizza.name}} </h1>
            <img src={{pizza.image}} height="100px" width="100px"/> 
            <p> {{pizza.ingredients}} </p>
            <form method="post" action="/cart">
                <input type="hidden" name="pizzaName" value="{{ pizza.name }}">
                <button type="submit">Order now</button>
            </form>
        </div>
    {% endfor %}
    <div>
{% endblock %}
