<meta http-equiv="refresh" content="1">
{% extends "base.html" %}

{% block title %}Orders board{% endblock %}

{% block content%}
    <div class="center-container">
        <h1 class="center-text">Coming right up!</h1>
        <br>
        <table class="center-table">
            <tbody>
                {% for ord in orders %}
                    <tr class="order-on-board">
                        <td class="order-number">Order #{{ord.id}}:</td>
                        <td class="status">{{ord.status}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
