<!-- Extend the "base.html" template -->
{% extends "base.html" %}

<!-- Override the title block from the base template -->
{% block title %}Orders{% endblock %}

{% block content %}
    <!-- Create a centered content container -->
    <div class="centered-content">
        <!-- Display the main heading -->
        <h1>Pending orders</h1>
        <!-- Loop through the list of orders -->
        {% if pending_orders%}
        {%for order in pending_orders%}
            <form method="post" action="/start_order">
                <div class="orders">
                    <!-- Display the order information -->
                    <p>Id: {{order.id}} </p>
                    <p>Content: {{order.orderedItems}} </p>
                    <!-- Hidden input to store the chosen order -->
                    <input type="hidden" name="chosenOrder" value="{{order.id}}">
                    <!-- Button to start processing the order -->
                    <button class="center-button">Start</button>
                </div>
            </form>
            
        {% endfor %}
        {% else%}
                <p> No pending orders.</p>
        {% endif%}

        <h1>Cooking orders</h1>
        <!-- Loop through the list of orders -->
        {% if cooking_orders%}
        {%for order in cooking_orders%}
            <form method="post" action="/finish_order">
                <div class="orders">
                    <!-- Display the order information -->
                    <p>Id: {{order.id}} </p>
                    <p>Content: {{order.orderedItems}} </p>
                    <!-- Hidden input to store the chosen order -->
                    <input type="hidden" name="chosenOrder" value="{{order.id}}">
                    <!-- Button to start processing the order -->
                    <button class="center-button">Finish</button>
                </div>
            </form>
        {% endfor %}
        {% else%}
                <p> No cooking orders.</p>
        {% endif%}
    </div>
{% endblock %}
