{% extends "base.html" %}

{% block title %}Orders{% endblock %}

{% block content%}

    <h1> Receive Orders</h1>
    {%for order in allOrders%}
    <form method="post" action="/start_order">
        <div class="orders">
        <p>Id: {{order.id}} </p>
        <p>Content: {{order.orderedItems}} </p>
        <p>Status: {{order.status}} </p>
        <input type="hidden" name="chosen_id" value="{{order.id}}">
        <button> Start </button>
        </div>
    </form>
    {% endfor %}

{% endblock %}